fastapi==0.115.12
uvicorn==0.23.2
spacy==3.6.1
sentence-transformers
langchain==0.0.267
langchain-mistralai==0.0.3
mistralai==0.0.11
chromadb==0.4.13
python-dotenv==1.0.0
psycopg2-binary==2.9.7
huggingface-hub
