/* Glavni sidebar izgled */
.custom-sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fffaf3;
  border-right: 1px solid #e0dcd4;
  padding-top: 40px;
  box-sizing: border-box;
}


/* Naslov */
.sidebar-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #5c3b21;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

/* Navigacijske kartice */
.ps-menuitem-root {
  background: #ffffff;
  border-radius: 16px;
  margin: 12px 16px;
  margin-left: 30px;
  padding: 12px 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

.ps-menuitem-root:not(.ps-disabled):hover {
  background-color: #f7f0e5;
  transform: translateX(-10px);
  border: 1px solid #e2c79e;
}

.ps-menuitem-root.ps-active {
  background-color: #ffe6c4;
  border: 1px solid #d0803c;
}

.ps-menuitem-root.ps-active svg {
  color: #d0803c;
}

.ps-menu-button {
  color: #5c3b21 !important;
  font-weight: 600;
  padding: 0 !important;
  margin: 0 !important;
  background: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.ps-menuitem-root.ps-disabled {
  cursor: default !important;
  background: none !important;
  opacity: 0.5;
}

.ps-menuitem-root.ps-disabled:hover {
  background: none !important;

}
.logout-time {
  margin-top: 230px;
  padding: 12px 20px;
  font-size: 0.9rem;
  color: #6c4f00;
  text-align: left;
  margin-left:15px;
}
